/*
*{ padding: 0;
    margin: 0;
}
*/
/*
body{
    box-sizing: content-box;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    /* same as */
    /*
    font: normal, 15px, Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}


a{
    text-decoration: none;

}
a:hover{
    color: purple;
}
a:active{
    color: aqua;
}
a:visited{
    color: chartreuse;
}



.container{
    width: 80%;
    margin: auto;
}
#Home{
    background-color: blueviolet;
    color: black; 

    border: 5px red solid;
}
#Home h1{
    text-decoration: underline;
    text-transform: uppercase;
}
.list{

}
*/
body{
    background-color: blueviolet;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: purple;
    color: black;
}
#list{
    background-color: blanchedalmond;
    color: aquamarine;
}
#list ul{
    padding: 0;
    list-style: none;
}
#list li{
    display: inline;
}
#list a{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
.Home{
    background-image: url("https://picsum.photos/800/600");
    min-height: 100vh;
    background-size: cover;
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
.Home h1{
    color: white;
    font-size: 50px;
    line-height: 1,6em;
    padding-top: 30px;
}
#About{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    color: aliceblue;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


@media(max-width:600px){
    #About{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}