body{
    background-color: rgb(255, 193, 197);
}
#salon{
    background-image: url("tope.jpg");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: local;
    text-align: left;
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
}