body{
    border-style: solid;
    border-width: 4px;
    border-color: black;
    padding: 20px;
}
h2{
    color: rgb(94, 226, 94);
}
hr{
    border: none;
    height: 3px;
    width: 60%;
    margin: 20px auto;
}
